<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>博客详情</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!--代码块显示行号一共需要   四行代码    下面为三行-->

    <link   href="./prism/prism.css" rel="stylesheet" />
    <script src="static/prism/prism.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<h2>#(iWantPost.title)</h2>

<span>#(iWantPost.author)</span>
<span>#(iWantPost.writeDayStr)</span>
<span>#(iWantPost.category)</span>
<span>#(iWantPost.tagsStr)</span>

<div  >#(iWantPost.content)</div>




<!--代码块显示行号一共需要   四行代码    下面第四行-->
<script type="text/javascript">
    $('pre').addClass("line-numbers").css("white-space", "pre-wrap");
</script>
</body>
</html>